
main{
    margin: 5%;
    padding: 3%;
    border: solid;
    background-color:aliceblue;
}



/* Navigation Bar */
html {
    scroll-behavior: smooth;
}
.navbar{
    border: solid .5px;
}
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    font-size: 1.1rem;
    margin-left: 15px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffdd57; /* Change color on hover */
    transition: color 0.3s ease-in-out;
}
body {
    background-image: url('/images/HawaiiWallPaper.jpg');
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Prevent repeating */
    height: 100vh; /* Ensure the background covers the full viewport height */
    margin: 0;
}

/* メインヘッダーのスタイル */
.main-header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.fade-in-text {
    color: #fff;
    font-size: 2.5rem;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

.adress{
font-size: smaller;
}



/*Footer*/
footer{
    padding: 3px;
    max-height: 10px;
}


/* フェードインアニメーション */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* マップレスポンシブ */
.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Mobile View Adjustments */
/* Mobile View Adjustments */
@media (max-width: 992px) {
    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }
    
    /* Adjusting images */
    img {
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
    }
    
    /* Optional: Adjust text sizes if needed */
    .navbar-brand, .nav-link {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }
}
